<form novalidate name="form1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h3>Couriers Details</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        Courier Company Name
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <input id="Couriercompanyname" class="form-control" ng-model="couriercomp.CourierCoName" type="text" />
                        <!--<span style="color: red" ng-show="form1.loginid.$error.required && submitted">Enter LoginID </span>-->
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        Courier Company Code
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <input id="Couriercompanycode" class="form-control" ng-model="couriercomp.CourierCoCode" type="text" />
                        <!--<span style="color: red" ng-show="form1.username.$error.required && submitted">Enter UserName </span>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12" style="height:10px">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        Member Type
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <select ng-model="couriercomp.mastertype" class="form-control" ng-options="s.MasterDesc for s in mastertype | filter:{MasterType:'MemberType'}" name="MemberType" id="MemberTypeid">
                            <option name="select" id="0" value="">--Select--</option>
                        </select>
                        <!--<span style="color: red" ng-show="form1.LockUnlocktype.$error.required && submitted">Select Lock Type</span>-->
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        Courier Type
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <select ng-model="couriercomp.mastertype1" class="form-control" ng-options="s.MasterDesc for s in mastertype1 | filter:{MasterType:'CourierType'}" name="Couriertype" id="Couriertypeid">
                            <option name="select" id="0" value="">--Select--</option>
                        </select>
                        <!--<span style="color: red" ng-show="form1.ActiveNonActivetype.$error.required && submitted">Select Active Type</span>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12" style="height:10px">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <a href="#/AddCourier">Add Record</a>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                    </div>
                    <div class="col-xs-3 col-sm-3">
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <input type="submit" class="btn btn-success" ng-click="SearchCourier(couriercomp);submitted=true" value="Search" />
                        <input type="button" class="btn btn-success" ng-click="Clear()" value="Clear" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12" style="height:10px">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                            <option>40</option>
                            <option>50</option>
                        </select> records at a time.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12" style="height:10px">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="container">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Courier Company Registration Number</th>
                                <th>Courier Company Code</th>
                                <th>Courier Company Name</th>
                                <th>Courier Company Tally Name</th>
                                <th>Contact Person</th>
                                <th>Courier Email Id</th>
                                <th>Courier Contact No</th>
                                <th>Courier Company Addr1</th>
                                <th>Courier Company Addr2</th>
                                <th>Courier Company State</th>
                                <th>Courier Company City</th>
                                <th>Courier Company PinCode</th>
                                <th>Member Type</th>
                                <th>Courier Type</th>
                                <th>Termincal Code</th>
                                <th>Courier Company Registration Expiry Dt</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="List in CouriersList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                            <tr>
                                <td><a href="#/EditCourier" ng-click="Edit(List,'EditCourier')" value="{{List.CourierCoId}}">Edit</a></td>
                                <td><input type="checkbox" ng-model="isTrue" ng-change="getIndex(List.CourierCoId,isTrue)" /></td>
                                <td>{{List.CourierCoRegistrationNumber}}</td>
                                <td>{{List.CourierCoCode}}</td>
                                <td>{{List.CourierCoName}}</td>
                                <td>{{List.CourierCoTallyName}}</td>
                                <td>{{List.ContactPerson}}</td>
                                <td>{{List.CourierEmail}}</td>
                                <td>{{List.CourierContact}}</td>
                                <td>{{List.CourierCoAddr1}}</td>
                                <td>{{List.CourierCoAddr2}}</td>
                                <td>{{List.CourierCoState}}</td>
                                <td>{{List.CourierCoCity}}</td>
                                <td>{{List.CourierCoPinCode}}</td>
                                <td>{{List.MemberTypeId}}</td>
                                <td>{{List.CourierType}}</td>
                                <td>{{List.TerminalCode}}</td>
                                <td>{{List.CourierCoRegistrationExpiryDt  | date:'dd/MM/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12" style="height:10px">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <input type="button" class="btn btn-success" ng-click="Remove('couriermaster')" value="Remove" ng-disabled="!removedisable" />
                    </div>
                    <div class="col-xs-3 col-sm-3">
                    </div>
                    <div class="col-xs-3 col-sm-3">
                    </div>
                    <div class="col-xs-3 col-sm-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
