<form novalidate name="form1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h3>Profile Details</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-2 col-sm-2">
                        profile Name
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <input id="profilename" class="form-control" ng-model="profile.profilename" type="text" />
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        pwd exp days
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <input id="pwdexpday" class="form-control" ng-model="profile.PwdExpDays" type="text" />
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        pwd retry count
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <input id="pwdretrycount" class="form-control" ng-model="profile.PwdRetryCount" type="text" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12" style="height:10px">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="col-xs-2 col-sm-2">
                    pwd grace period
                </div>
                <div class="col-xs-2 col-sm-2">
                    <input id="pwdgraceperiod" class="form-control" ng-model="profile.PwdGracePeriod" type="text" />
                </div>
                <div class="col-xs-2 col-sm-2">
                    No of session
                </div>
                <div class="col-xs-2 col-sm-2">
                    <input id="noofsession" class="form-control" ng-model="profile.NoofSessions" type="text" disabled />
                </div>
                <div class="col-xs-2 col-sm-2">
                </div>
                <div class="col-xs-2 col-sm-2">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12" style="height:10px">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <a href="#/AddProfile">Add profile</a>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                    </div>
                    <div class="col-xs-3 col-sm-3">
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <input type="submit" class="btn btn-success" ng-click="SearchProfiles(profile);submitted=true" value="Search" />
                        <input type="button" class="btn btn-success" ng-click="Clear()" value="Clear" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12" style="height:10px">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                            <option>40</option>
                            <option>50</option>
                        </select> records at a time.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12" style="height:10px">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="container">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>profile Name</th>
                                <th>pwd exp days</th>
                                <th>pwd retry count</th>
                                <th>pwd grace period</th>
                                <th>assign to no of users</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="List in ProfilesList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                            <tr>
                                <td><a href="#/EditProfile" ng-click="EditProfile(List)" value="{{List.ProfileID}}">Edit</a></td>
                                <th><input type="checkbox" ng-model="isTrue" ng-change="getIndex(List.ProfileID,isTrue)" /></th>
                                <td>{{List.ProfileName}}</td>
                                <td>{{List.PwdExpDays}}</td>
                                <td>{{List.PwdRetryCount}}</td>
                                <td>{{List.PwdGracePeriod}}</td>
                                <td>{{List.NoofSessions}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12" style="height:10px">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <input type="button" class="btn btn-success" ng-click="Remove()" value="Remove" ng-disabled="!removedisable" />
                    </div>
                    <div class="col-xs-3 col-sm-3">
                    </div>
                    <div class="col-xs-3 col-sm-3">
                    </div>
                    <div class="col-xs-3 col-sm-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>